@font-face { font-family: "GraphikArabic"; src: url("assets/fonts/GraphikArabic-Regular.ttf"); font-weight: 400; font-display: swap; }
@font-face { font-family: "GraphikArabic"; src: url("assets/fonts/GraphikArabic-Medium.ttf"); font-weight: 500; font-display: swap; }
@font-face { font-family: "GraphikArabic"; src: url("assets/fonts/GraphikArabic-Semibold.ttf"); font-weight: 600; font-display: swap; }
@font-face { font-family: "GraphikArabic"; src: url("assets/fonts/GraphikArabic-Bold.ttf"); font-weight: 700; font-display: swap; }
